---
import Layout from "@/layouts/Layout.astro";
---

<style>
	@import url(@/global/homepage/css/hamburger-menu.css);
	@import url(@/global/homepage/css/header.css);
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		height: 100vh;
		max-width: 1920px;
		margin: 0 auto;
		overflow-x: hidden;
		color: white;
		font-family: "GTA BOLD";
	}
	
</style>

<Layout>
	<section class="workheader"></section>
</Layout>
