<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/losangeleslogo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Los Angeles RP</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @theme {
		--font-sans: "GTA", system-ui, sans-serif;
	}
	html,
	body {
		background: #111;
		height: 200vh;
		overscroll-behavior: none;
		color: white;
		margin: 0;
		width: 100%;
	}

	@font-face {
		font-family: 'GTA BOLD';
		src: url("/fonts/gta-bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
</style>
